/* 
# CV/Resume stlyes
  ## Structure:
    * Common variables
    * Common classes
    * Common Education and Experience styles
    * Header/Navigation Bar styles
    * Section styles
    * Bio styles
    * Education styles
    * Experience styles
    * Skills styles
    * Portfolio styles
    * Footer styles
    * Media queries for Small Screens (<= 800px) styles
*/


* {
  box-sizing: border-box;
  transition: all 0.25s;
}

// Common variables
$current-font: 'Asap', sans-serif;
$bio-color: rgb(20%, 40%, 50%);
$bio-background-url: url("../images/bio-background.jpg");
$education-color: rgb(50%, 70%, 90%);
$experience-color: rgb(30%, 80%, 50%);
$skills-color: rgb(95%, 50%, 10%);
$portfolio-color: rgb(90%, 30%, 30%);
$border-width: 4px;

// Common classes
.underline {
  border-bottom: $border-width solid;
}

.bio {
  border-bottom-color: $bio-color;
}
.education {
  border-bottom-color: $education-color;
}
.experience {
  border-bottom-color: $experience-color;
}
.skills {
  border-bottom-color: $skills-color;
}
.portfolio {
  border-bottom-color: $portfolio-color;
}

// Common Education and Experience styles
#education, #experience {
  background: #F4F4F4;
  .history {
    $spacing: 24px;
    border-left: $border-width solid;
    padding: $spacing 0;
    position: relative;
    
    .entry {
      background: white;
      padding: 0.5em 2em;
      max-width: 64em;
      border-radius: 0 12px 12px 0;
      margin-bottom: $spacing;
      
      .time {
        color: rgb(75%, 75%, 75%);
        &::before { content: "\2014\ ["; }
        &::after { content: "]"; }
      }
    }

    &::after {
      $size: 28px;
      content: "";
      position: absolute;
      bottom: -$size/2;
      left: -$size/2 - $border-width/2;
      width: $size;
      height: $size;
      border-radius: 50%;
    }    
  }
}


// Header/Navigation bar styles
@import 'navigation';

// Section styles
@import 'section';

// Bio section styles
@import 'bio';

// Education styles
@import 'education';

// Experience styles
@import 'experience';

// Skills styles
@import 'skills';

// Portfolio styles
@import 'portfolio';

// Footer styles
@import 'footer';

// Media-query for smaller screens
@import 'media_queries';